@charset "UTF-8";

@font-face {
    font-family: 'android';
    src:url(/pacote-projeto-d010/fontes/IDroid.otf) format('opentype');
    font-weight: normal;
}

:root{
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

header > h1 {
            text-align: center;
            font-family: var(--fonte-destaque);
            font-weight: normal;
            
        }
        header > p{
            font-size: 1.2em;
        }
        p {
            font-size: 15px;
            text-align: center;

        }
        header {
           background-image: linear-gradient(#39CB79, #268952, #1C633B);
           color: white;
           margin-bottom: -20px;
           padding: 28px;
        }
        menu{
            background-color: #1a5c37;
            padding: 12px;
            margin-bottom: 5px;
        }
        menu > a{
            font-weight: bold;
            border-radius: 5px;
            color: white;
             margin: 10px 10px 20x 10px;
            transition-duration: 0.5s;
            font-size: 0.9em;
        }
        menu > a:hover{
            color: #39CB79;
            background-color: #063d1e;
        }
        a {
            color: white;
            background-color: #1A5C38;
        }
    
        body {
            margin: 0px;
            padding: 0px;
            background-color: #84E1AD;
            font-family: Arial, Helvetica, sans-serif;
        }
        a.externo::after {
            content: '\1F517';
        }
        main {
            background-color: white;
            box-shadow: 5px 5px 15px #84E1AD;
            min-width: 350px;
            max-width: 850px;
            padding: 10px;
            margin: auto;
            text-decoration: dashed;
            border-radius: 0px 0px 5px 5px;
        }
        l {
            color: #538469;
        }
        main > h1{
            color: #306C4B;
            background-color: #84b49a;
            margin-top: 5px;
            font-family: 'android';
            font-weight: normal;
        }
        main > h2{
            color: #306C4B;
            background-color: #84b49a;
            margin-top: 5px;
            font-family: 'android';
            font-weight: normal;
            font-size: 1.8em;
        }

         x > img {
            display: block;
            margin: auto;
        }
        iframe {
            display: block;
            margin: auto;
        }
        .seila {
            display: inline;
            margin: auto;
        }
        
        aside > h3 {
            background-color: var(--cor5);
            padding: 10px;
            color: white;
            margin-bottom: 0px;
            border-radius: 5px 5px 0px 0px;
        }
        footer {
            background-color: var(--cor6);
            color: white;
            padding: 0px;
            font-size: 0.8em;
        }
        iframe {
            width: 100%;
        }
        main p{
            line-height: 1.5em;
        }
        main strong{
            color: var(--cor4);
            font-weight: bold;
        }
        main a{
            text-decoration: none;
            font-weight: bold;
            background-color: var(--cor2);
            padding: 2px 6px;
            color: var(--cor5);
        }
        aside {
            background-color: var(--cor3);
            border-radius: 10px;
        }
        aside > ul{
            list-style-type: '\2714';
            background-color: var(--cor3);
            list-style-position: inside;
            columns: 2;
        }
        .imagem {
            display: block;
            margin: auto;
        }
        